
:root {
    --md-admonition-icon--announce: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc.--><path d="M480 32c0-12.9-7.8-24.6-19.8-29.6S434.5.2 425.3 9.3L381.7 53c-48 48-113.1 75-181 75H64c-35.3 0-64 28.7-64 64v96c0 35.3 28.7 64 64 64v128c0 17.7 14.3 32 32 32h64c17.7 0 32-14.3 32-32V352h8.7c67.9 0 133 27 181 75l43.6 43.6c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V300.4c18.6-8.8 32-32.5 32-60.4s-13.4-51.6-32-60.4V32zm-64 76.7v262.6C357.2 317.8 280.5 288 200.7 288H192v-96h8.7c79.8 0 156.5-29.8 215.3-83.3z"/></svg>');
}

[data-md-color-scheme="rightsdriven"] {
    --md-primary-fg-color: #002b36; /* solarized base03 */
    --md-primary-bg-color: #fdf6e3; /* solarized base3  */ 
    --md-default-bg-color: #fdf6e3; /* solarized base3  */ 
    --md-default-fg-color: #002b36; /* solarized base03 */
    --md-header-bg-color: #077;;
    --md-header-fg-color: white;
    --md-accent-fg-color: #077;
    --md-typeset-a-color: #077;
}

.md-tabs {
  color: var(--md-header-fg-color);
  background-color: var(--md-header-bg-color);
}

.md-header {
  color: var(--md-header-fg-color);
  background-color: var(--md-header-bg-color);
}

.md-header__button.md-logo img {
  height: 2rem;
}

.md-footer-middle {
  color: var(--md-footer-fg-color--light);
  font-size: 0.64rem;
  line-height: 1.6;
  padding-top: 0.4rem
}

.md-typeset a:hover {
  text-decoration: underline;
}

.quote {
  font-weight: bold;
}

/** Announcements **/

.md-typeset .admonition.announce,
.md-typeset details.announce {
  border-color: #C21321;
}
.md-typeset .announce > .admonition-title,
.md-typeset .announce > summary {
  background-color: #C21321;
  color: var(--md-primary-bg-color);
}
.md-typeset .announce > .admonition-title::before,
.md-typeset .announce > summary::before {
  background-color: var(--md-primary-bg-color);
  -webkit-mask-image: var(--md-admonition-icon--announce);
          mask-image: var(--md-admonition-icon--announce);
}

/** Margin notes **/

.md-typeset .adminition.margin,
.md-typeset details.margin {
  border-color: #3B3355;
  width: 40%;
  float: right;
}

.md-typeset .margin > .admonition-title,
.md-typeset .margin > summary {
}

.md-typeset .margin > .admonition-title::before,
.md-typeset .margin > summary::before {
  background-color: #3B3355;
}

.right-wide {
  width: 40%;
  float:right;
}

.video-still {
  float:left;
  width: 240px;
  max-width: 15%;
  padding-right: 1em;
}

@media (min-width: 40rem) {
  .sectionicon {
    float:right;
    font-size:8rem;
    margin-top:0px;
    margin-left:12px;
    line-height:0
  }

  .right {
    float:right;
    width: 30%;
    padding-left: 2em;
  }

  .left {
    float:left;
    width: 30%;
    padding-right: 2em;
  }

  .leftsmall {
    float:left;
    width: 15%;
    padding-right: 2em;
  }

}

@media (max-width: 40rem) {
  .sectionicon {
    display: none !important;
  }

  .leftsmall {
    float: left;
    width: 40%;
  }
}

@media (min-width: 900px) {
  .right-wide {
    width: 50%;
    padding-left: 2em;
  }
}

